body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cardMovie {
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.cardMovie:hover {
  background-color: #303030;
  cursor: pointer;
}

.cardMovie:hover img {
  transform: scale(1.15)
}

.cardMovie:hover h3 {
  color: #fff;
}

.cardMovie__img {
  overflow: hidden;
  border-radius: 5px;
}

.cardMovie__img img {
  transition: all 0.4s;
}